.root {
  border: none;
  background: inherit;
  font-size: 18px;
  padding: 10px;

  &.selected {
    border-bottom: 1px solid black;
    padding-bottom: 9px;
  }

  &:hover {
    border-bottom: 2px solid black;
    padding-bottom: 8px;
    cursor: pointer;
  }

}